---
layout: default
title: Our Work
menu: true
weight: 100
---

<section class="section" id="ourwork">
  <div class="container">
    {% for video in site.posts %}
      {% assign loopindex = forloop.index0 | modulo: 3 %}
      {% if loopindex == 0 %}
        <div class="columns">
      {% endif %}

      
        <div class="column">
        <a href="{{ video.url }}">
          <div class="card">
            <figure class="card-image">
              {% if video.thumb %}
                <img src="{{ video.thumb | prepend: '/assets/images/thumbs/' }}" alt="">
              {% else %}
                <img src="{{ video.title | downcase | replace: ' ', '_' | append: '.jpg' | prepend: '/assets/images/thumbs/' }}" alt="">
              {% endif %}
            </figure>
            
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{ video.title }}</p>
                  <p class="subtitle is-6">{{ video.short_description }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
    </div>
      

      {% if loopindex == 2 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>