<footer class="footer">
  <div class="container">
    <div class="content is-centered">
      <a href="https://www.facebook.com/filmforchangenz" target="_blank"><div class="badge badge-facebook"></div></a>
      <a href="https://twitter.com/filmforchangenz" target="_blank"><div class="badge badge-twitter"></div></a>
      <a href="https://youtube.com/filmforchangeaotearoa" target="_blank"><div class="badge badge-youtube"></div></a>
    </div>
    
    <div class="columns is-centered">
      <div class="column"></div>
      <div class="column"><a href="/">Film for Change</a></div>
      <div class="column"><a href="/ourwork">Our Work</a></div>
      <div class="column"><a href="/contact">Contact</a></div>
      <div class="column"></div>
    </div>
    
    <div class="columns is-centered">
      <div class="column"></div>
      <div class="column"><div class="badge badge-ffc"></div></div>
      <div class="column"><a href="/about">More about us</a></div>
      <div class="column"><a href="/contribute">Contribute</a></div>
      <div class="column"></div>
    </div>
    <br />
    <br />
    <br />
    <div class="content is-centered">
      &copy; Film for Change Aotearoa 2016
    </div>
  </div>
</footer>