<nav class="nav">
  <div class="container">
    <!-- Left side -->
    <div class="nav-left">
      <a class="nav-item" href="/">
        <div class="nav-logo"></div>
      </a>
      <a class="nav-item text" href="/">
        FILM&nbsp;&nbsp;<i>for</i>&nbsp;&nbsp;CHANGE Aotearoa
      </a>
    </div>
    
    {% assign pages = site.pages | sort:"weight" | where: "menu","true" %}

    <!-- Hamburger menu (on mobile) -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- Right side -->
    
    
    <div class="nav-right nav-menu">
      {% for node in pages %}
        {% if page.url == node.url %}
        <span class="nav-item active">
        {% else %}
        <span class="nav-item">
        {% endif %}
        
          <a href="{{ node.url }}">
            {{ node.title }}
            <div class="underline"></div>
          </a>
        </span>
      {% endfor %}
    </div>
  </div>
</nav>