<section class="section" id="testimonals">
  <div class="container">
    <div class="columns">
      <div class="column is-centered">
        <i>“It was a pleasure to work with this team of passionate and dedicated
        filmmakers. They are reliable, talented and most importantly respectful
        to the people they are engaging with.”</i>
        <p>- Sue Rei, Community Weaver</p>
      </div>
      
      <div class="column is-centered">
        <i>“With FFC, you are regularly practicing film-making with a large group
        of film enthusiasts while also making a positive impact in the
        community. It doesn't really get more win-win than that.”</i>
        <p>- Zac Metin, Volunteer</p>
      </div>
      
      <div class="column is-centered">
        <i>“The quality of the films was beyond our expectations and the films
        where on time and on budget. FFC took control of the project and lead
        it.”</i>
        <p>- Sarah Adams, Community Advisor, Wellington City Council</p>
      </div>
    </div>
  </div>
</section>