<section class="section" id="how-its-done">
  <div class="container">
    <h2 class="title is-centered">How it's done</h2>
    <div class="columns">
      <div class="column is-centered">
        <div class="circle">1</div>
        <p>Get in touch for a first meeting to chat about your needs</p>
      </div>
      
      <div class="column is-centered">
        <div class="circle">2</div>
        <p>We get creative, then pitch you ideas, budgets and timelines</p>
      </div>
      
      <div class="column is-centered">
        <div class="circle">3</div>
        <p>You pick an idea, and we work together to make it happen</p>
      </div>
      
      <div class="column is-centered">
        <div class="circle">4</div>
        <p>We collaborate to distribute the short film out to the world</p>
      </div>
    </div>
    
    <div class="is-centered is-bold"><a href="/contact">Get in touch now &gt;</a></div>
  </div>
</section>