<section class="section homepage-section" id="our-mission">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-8 is-centered">
        <h1 class="title">What we do</h1>
          <p>
            Film for Change exists to support changemakers busy making a
            difference in the world. We are a volunteer network who believe
            short films are a powerful tool to support social missions. We
            create beautiful fit for purpose films for changemakers to use to
            reach their goals, while enabling our volunteers to contribute their
            skills to a meaningful cause.
        </p>
      </div>
      <div class="column"></div>
    </div>
    <div class="is-centered is-bold"><a href="/contribute">See how you can help &gt;</a></div>
  </div>
</section>