
<section class="section homepage-section other-vids">
  <div class="container">
  <div class="columns">
    <div class="column is-4">
      <a href="/2016/04/24/What-do-you-mean.html">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/double_the_quota.jpg" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Doing Our Bit - Double the Quota</p>
                <p class="subtitle is-6">A short narrative film made in support of the Doing Our Bit campaign to double New Zealand's refugee quota.</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="/2015/11/19/What-Works.html">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/what_works.jpg" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">What Works</p>
                <p class="subtitle is-6">An animated and informative introduction to the What Works website.</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="/2015/03/01/Nga-Hau-e-Wha-o-Papararangi-(The-People-of-the-Four-Winds).html">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/papararangi.jpg" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Ngā Hau e Whā o Paparārangi (The People of the Four Winds)</p>
                <p class="subtitle is-6">The Ngā Hau e Whā o Paparārangi marae, and its community resilience efforts.</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div class="is-centered is-bold"><a href="/ourwork">See all of our work &gt;</a></div>
  </div>
</section>