
<section class="section other-vids">
  <div class="container">
  <div class="columns">

    <div class="column">
      <a href="#">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Double the Quota</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="#">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">What Works</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="/2015/03/01/Nga-Hau-e-Wha-o-Papararangi-(The-People-of-the-Four-Winds).html">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/papararangi.jpg" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Paparangi</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div class="is-centered"><a href="/ourwork">See all of our work &gt;</a></div>
  </div>
</section>